<h1>Welcome to the PCM Review!</h1>
<h2>This is project 2 for General Assembly Web Development, created by
<a href="http://www.howardmcqueen.com/">Taylor Harris</a>. Ponce City Market will be a historical and cultural icon for many years to come. PCM Review will give people access to directly rate and review shops and restaurants. </h2>

<h4>Technologies include:</h4>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
  <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
  <li><a href="http://sqlitebrowser.org/">SQL LIte</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
 <li><a href="https://github.com/plataformatec/devise">Devise Authentication</a></li>
 <li><a href="http://searchkick.org/">Searchkick</a></li>
 <li><a href="https://github.com/laserlemon/figaro">Figaro</a></li>
 <li><a href="https://github.com/carrierwaveuploader/carrierwave">Carrierwave Uploader</a></li>
  <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
</ul>