.jumbotron {
	background-color: #454545;
	border: 2px solid #e9673e;
	h2 {
	  color: #fff;
	  font-weight: bold;
	  font-size: 40px;
	  font-family: 'Helvetica';
		}
	h3 {
	  color: #6cc9d7;
	  font-family: 'Helvetica';
		}

}

.navbar-default {
	.container-fluid {
	  background-color: #ecede5;
	  .navbar-nav > li > a {
	  	color: #454545;
	  	font-family: 'Helvetica';
	  	font-weight: bold;
	  }
	  .navbar-brand {
	  font-size: 30px;
	  font-weight: bold;
	  font-family: 'Helvetica';
	  color: #e9673e;
	  }
	}
}

.container-fluid {
	padding: 10px 120px;
}