<p>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"> at General Assembly</span></p>
<p> <a href="https://github.com/taylorfxnharris">Github</a>
<a href="https://trello.com/b/FEPE8nTn/project-2-pcm-review">Trello</a>